@import "./mixins";

:root {
  --title-color: #0b2055;
}

@font-face {
  font-family: Poppins;
  src: url("/fonts/Poppins/Poppins-Light.ttf") format("woff2");
}
@font-face {
  font-family: sans-serif;
  src: url("/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("woff2");
}

html {
  font-size: 16px;
}

body {
  font-family: Poppins, sans-serif;
}

.payment {
  border-radius: 32px;
  background: #fff;
  padding: 64px;

  &__title {
    color: var(--title-color);
    @include typography("Merriweather", 25px);
    @include font-weight(bold);
  }

  &__subtitle {
    color: var(--title-color);
    @include typography("Poppins", 18px);
    @include font-weight(medium);
  }
  &__bd-container {
    margin-top: 24px;
  }

  &__body {
    border-radius: 12px;
    background: #f5f9ff;
    padding: 32px;
  }
  &__bd-title {
    color: var(--title-color);
    @include typography("Poppins", clamp(0.5rem, 0.5rem + 1vw, 2rem));
    @include font-weight(medium);
    max-inline-size: 66ch;
  }
  &__select-element {
    padding: 10px 16px;
    @include typography("Poppins", clamp(0.5rem, 0.5rem + 1vw, 2rem));
    border-radius: 8px;
    border: 0;
    outline: 1px solid #5884c6;
    border-right: 16px solid transparent; // for spacing of arrow & outline
  }

  &__interest {
    color: var(--title-color);
    @include typography("Poppins", 16px);
    @include font-weight(medium);
    display: flex;
    gap: clamp(1.5rem, 2rem + 1vw, 3.5rem);
    justify-content: space-between;
  }

  &__cost {
    color: var(--title-color);
    @include typography("Poppins", 16px);
    @include font-weight(medium);
    display: flex;
    gap: clamp(1.5rem, 2rem + 1vw, 3.5rem);
    justify-content: space-between;
  }
  &__total {
    color: var(--title-color);
    @include typography("Poppins", 16px);
    @include font-weight(medium);
    display: flex;
    gap: clamp(1.5rem, 2rem + 1vw, 3.5rem);
    justify-content: space-between;
  }

  &__splitup {
    color: var(--title-color);
    @include typography("Poppins", 16px);
    @include font-weight(medium);
    // flex-grow: 1;
  }
  &__button {
    margin-top: 24px;

    button {
      background-color: #f5f9ff;
      @include typography("Poppins", 16px);
      @include font-weight(bold);
    }
  }
}

.payment__button--label {
  border-radius: 8px;
  border: 1px solid #5884c6;
  padding: 16px;
}

.payment__select {
  border-radius: 8px;
  border: 1px solid #5884c6;
  padding: 16px;
}
