@import "./mixins";
@import "./reset";
@import "./variables";

:root {
  --title-color: #0b2055;
}

@font-face {
  font-family: Poppins;
  src: url("/fonts/Poppins/Poppins-Light.ttf") format("woff2");
}
@font-face {
  font-family: sans-serif;
  src: url("/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("woff2");
}

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf") format("woff2");
}

html {
  font-size: 16px;
}

body {
  font-family: Inter, sans-serif;
  margin: 54px;
}

button {
  background-color: $color-bg-violet;
  color: $accordion-tab-bg;
  padding: 16px 24px;
  border-radius: 24px;
}

.accordion {
  border-radius: 32px;
  padding: 54px;
  // background: #fafbff;
  background: aqua;
  box-shadow: 20px 34px 74px 0px rgba(21, 21, 106, 0.07);

  &__header {
    margin-block-end: 40px;
  }

  &__header > *:not(:last-child) {
    margin-bottom: 16px;
  }

  &__header h3 {
    color: var(--131339, #131339);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  &__header p {
    color: var(--131339, #131339);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__header button {
    background-color: $color-bg-violet;
    color: $accordion-tab-bg;
  }

  &__body h3 {
    color: var(--131339, #131339);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  &__items {
    margin: 16px 0;
  }
  &__items > div:not(:last-child) {
    margin-bottom: 5px;
  }
  &__item {
    background: $accordion-tab-bg;
    border-radius: 8px;
    border: 1px solid #d2d9ef;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item span:first-child {
    vertical-align: middle;
  }

  &__item span:nth-child(2) {
    color: var(--131339, #131339);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__radio {
    display: inline-block;
    vertical-align: middle;
  }

  &__radio .switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
    background: $color-bg-violet;
    border-radius: 32px;
  }
  &__radio input {
    display: none;
  }
  &__radio input + .slider:before {
    background: $color-bg-violet;
  }
  &__radio input:checked + .slider:before {
    background: white;
  }
  &__radio input:checked + .slider {
    background: $color-bg-violet; // change color of slider when checked
  }
  &__radio input:checked + .slider:before {
    transform: translateX(26px); // moves the slider to left by 26px
  }

  &__radio .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $radio-btn-bg;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  &__radio .slider:before {
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    cursor: pointer;
    left: 4px;
    bottom: 4px;
    background: $radio-btn;
    transition: 0.4s;
  }
  &__radio .slider {
    border-radius: 34px;
  }

  &__radio .slider .round {
    border-radius: 34px;
  }
  &__radio .round:before {
    border-radius: 50%;
  }
}

.payment {
  border-radius: 32px;
  background: #fff;
  padding: 64px;

  &__header > *,
  &__body > *,
  &__group > *,
  div {
    margin-bottom: 24px;
  }

  &__title {
    color: var(--title-color);
    @include typography("Merriweather", 25px);
    @include font-weight(bold);
  }

  &__subtitle {
    color: var(--title-color);
    @include typography("Poppins", 18px);
    @include font-weight(medium);
  }

  &__body {
    border-radius: 12px;
    background: #f5f9ff;
    padding: 32px;
  }
  &__bd-title {
    color: var(--title-color);
    @include typography("Poppins", clamp(0.5rem, 0.5rem + 1vw, 2rem));
    @include font-weight(medium);
    max-inline-size: 66ch;
  }
  &__select-element {
    padding: 10px 16px;
    @include typography("Poppins", clamp(0.5rem, 0.5rem + 1vw, 2rem));
    border-radius: 8px;
    border: 0;
    outline: 1px solid #5884c6;
    border-right: 16px solid transparent; // for spacing of arrow & outline
  }

  &__interest {
    color: var(--title-color);
    @include typography("Poppins", 16px);
    @include font-weight(medium);
    display: flex;
    gap: clamp(1.5rem, 2rem + 1vw, 3.5rem);
    justify-content: space-between;
  }

  &__cost {
    color: var(--title-color);
    @include typography("Poppins", 16px);
    @include font-weight(medium);
    display: flex;
    gap: clamp(1.5rem, 2rem + 1vw, 3.5rem);
    justify-content: space-between;
  }
  &__total {
    color: var(--title-color);
    @include typography("Poppins", 16px);
    @include font-weight(medium);
    display: flex;
    gap: clamp(1.5rem, 2rem + 1vw, 3.5rem);
    justify-content: space-between;
  }

  &__splitup {
    color: var(--title-color);
    @include typography("Poppins", 16px);
    @include font-weight(medium);
    // flex-grow: 1;
  }
  &__button {
    margin-top: 24px;

    button {
      background-color: #f5f9ff;
      @include typography("Poppins", 16px);
      @include font-weight(bold);
    }
  }
}

.payment__button--label {
  border-radius: 8px;
  border: 1px solid #5884c6;
  padding: 16px;
}

.payment__select {
  border-radius: 8px;
  border: 1px solid #5884c6;
  padding: 16px;
}
