html {
  font-size: calc(0.5rem + 1vw);
  box-sizing: border-box;
}

.wrapper {
  border-radius: 25px;
  background: #fffcf8;
}

.tool-tip-header {
  color: var(--1-c-2-b-62, #1c2b62);
  font-family: Poppins;
  font-size: inherit;
  font-style: normal;
  line-height: normal;
}
